body{
    background-color: azure; 
}

.container{
    width: 500px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;   

}


.container > input{
    width: 400px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 5px;
    margin-left: 135px;

  
}

.container > button{
    width: 90px;
    height: 20px;
    margin-left: 186px;
    margin-top: 20px;

}